.content{
    background-color: #e6e5e5;
}

span, i{
    color: white;
    font-size: 20px;
}

h6{
    font-size: 10px;
}

.nav-pills li a:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.bg{
   background: linear-gradient(180deg, #3F80FF 0%, #0048D2 48.96%, #011C50 93.75%);
}
